<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="initial-scale=1, width=device-width">
  	<link rel="stylesheet"  href="../static/css/about.css" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400&display=swap" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Aboreto:wght@400&display=swap" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Arima:wght@400&display=swap" />
  	
  	
  	
</head>
<body>
  	
  	<div class="title-parent">
    		<div class="title">About</div>
    		<div class="main-btns">
                <button class="nav-btn home-btn" onclick="window.location.href='/';">Home</button>
                <button class="nav-btn identify-btn" onclick="window.location.href='/identify';">Identify</button>
                <button class="nav-btn match-btn" onclick="window.location.href='/match';">Match</button>
				<button class="nav-btn compare-btn" onclick="window.location.href='/compare';">Compare</button>
                <button class="nav-btn about-btn" onclick="window.location.href='/about';">About</button>
          </div>
    		<div class="description">Whether you're a lifelong cat lover or considering your first furry friend, Catology helps you make informed decisions to ensure harmony between you and your whiskered companion. Join Catology today and start your journey to finding the purr-fect match!</div>
    		<img class="logo-icon" alt="" src="../static/pics/face.png">
    		
    		<div class="ai-cat-breed-recognition-parent">
      			<div class="ai-cat-breed-recognition">AI Cat Breed Recognition</div>
      			<div class="personalized-cat-matching">Personalized Cat Matching</div>
      			<div class="intuitive-and-fun">Intuitive and Fun Experience</div>
      			<div class="comprehensive-cat-breed">Comprehensive Cat Breed Database</div>
    		</div>
    		<div class="frame-child">
    		</div>
  	</div>
  	
  	
  	
  	
</body>
</html>