body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}

.title {
    position: absolute;
    top: 156px;
    left: calc(50% - 188.5px);
    font-size: 119px;
    font-family: Comfortaa;
}
.main-btns {
    position: fixed;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
}
.nav-btn {
    background-color: #3b2e2f;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-family: Aboreto;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.nav-btn:hover {
    background-color: #3b2020;
}
.description {
    position: absolute;
    top: 185px;
    left: calc(50% - 644.5px);
    font-size: 25px;
    font-family: Arima;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1289px;
    height: 385px;
}
.logo-icon {
    position: fixed;
    top: 34px;
    left: 52px;
    width: 82px;
    height: 70px;
    object-fit: cover;
}
.personalized-cat-matching {
    position: absolute;
    top: 0px;
    left: 321px;
}
.intuitive-and-fun {
    position: absolute;
    top: 0px;
    left: 665px;
}
.comprehensive-cat-breed {
    position: absolute;
    top: 58px;
    left: 279px;
}
.ai-cat-breed-recognition {
    position: absolute;
    top: 0px;
    left: 10px;
}
.ai-cat-breed-recognition-parent {
    position: absolute;
    top: 520px;
    left: 216px;
    width: 978px;
    height: 99px;
    text-align: center;
    font-size: 25px;
    font-family: Arima;
}
.frame-child {
    position: absolute;
    top: 462.5px;
    left: calc(50% - 318px);
    border-top: 1px solid #fff;
    box-sizing: border-box;
    width: 637px;
    height: 1px;
}
.title-parent {
    width: 100%;
    position: relative;
    background-color: #3b2e2f;
    height: 804px;
    overflow: hidden;
    text-align: left;
    font-size: 26px;
    color: #fff;
    font-family: Aboreto;
}

