body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #3b2e2f;

}

.nav {
    position: absolute;
    top: 40px;
    left: 240px;
    width: 1328px;
    height: 91px;
    font-size: 26px;
    font-family: Aboreto;
}

.title-parent {
    width: 100%;
    position: relative;
    background-color: #3b2e2f;
    height: 804px;
    overflow: hidden;
    text-align: left;
    font-size: 100px;
    color: #fff;
    font-family: Comfortaa;
}


.freepik-adjust-83277-1-icon {
    position: absolute;
    top: 364px;
    width: 636px;
    height: 787px;
    object-fit: cover;
}

/* Title text inside .title-parent */
.title {
    position: absolute;
    top: 120px;
    left: 101px;
}
.white-pattern-icon {
    transform: scaleX(-1);
    position: absolute;
    top: 319px;
    width: 578px;
    height: 739px;
    object-fit: contain;
}

/* Right Section */
.right-section {
    position: fixed;
    top: 0;
    right: 0;
    width: 35%; /* Set the width of the right section */
    height: 100vh;
    padding: 20px;
    background-color: rgba(29, 22, 22, 0.7);
    color: #fff;
    font-family: Comfortaa, sans-serif;
    overflow-y: auto;
    box-shadow: -4px 0px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; /* Centers text horizontally */
}

/* Description text */
.description {
    font-size: 20px;
    font-family: Arima;
    display: flex;

    justify-content: left;
    width: 100%;
    margin-top: 250px;
    margin-left: 100px;
}

/* Form Button */
form button {
    background-color: #1c1617;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: Comfortaa, sans-serif;
}

form button:hover {
    background-color: #351818;
}

/* Input Fields */
.input_box {
    width: 80%;
    height: 50px;
    margin-top: 20px;
    border-radius: 20px;
    font-size: 16px;
}

.submit_btn {
    padding: 10px;
    border-radius: 20px;
    width: 100px;
    align-items: center;
}

/* Main buttons in the navigation */
.nav-btn {
    background-color: #3b2e2f;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-family: Aboreto;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.nav-btn:hover {
    background-color: #3b2020;
}

.main-btns {
    display: flex;
    gap: 10px;
}

/* Logo Icon */
.logo-icon {
    position: fixed;
    top: 34px;
    left: 52px;
    width: 82px;
    height: 70px;
    object-fit: cover;
}
