<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="initial-scale=1, width=device-width">

  	<link rel="stylesheet" href="../static/css/index.css" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400&display=swap" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Aboreto:wght@400&display=swap" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Arima:wght@400&display=swap" />
</head>
<body>

  	<div class="title-parent">
    		<div class="title">Catology</div>
    		<img class="white-pattern-icon" alt="" src="../static/pics/white_pattern.png">

    		<img class="cat-img" alt="" src="../static/pics/38310671_8623740.png">

    		<div class="subtitle">Your Purr-fect Companion</div>

    		<div class="main-btns">
                <button class="nav-btn home-btn" onclick="window.location.href='/';">Home</button>
                <button class="nav-btn identify-btn" onclick="window.location.href='/identify';">Identify</button>
                <button class="nav-btn match-btn" onclick="window.location.href='/match';">Match</button>
				<button class="nav-btn compare-btn" onclick="window.location.href='/compare';">Compare</button>
                <button class="nav-btn about-btn" onclick="window.location.href='/about';">About</button>
          </div>

    		<div class="description">
      			Catology is an innovative AI-powered platform designed to connect cat enthusiasts with their ideal feline companions. Whether you’re curious about your current cat’s breed or seeking the perfect match to suit your lifestyle, Catology has you covered.
    		</div>

    		<img class="logo-icon" alt="" src="../static/pics/face.png">
  	</div>

</body>
</html>
